.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/proc/flow_metadata.csv
data/proc/flow_all_td.csv
data/gauge/10014_flow.csv
data/gauge/10070_flow.csv
data/gauge/10081_flow.csv
data/gauge/10128_flow.csv
data/gauge/10139_flow.csv
data/gauge/1020_flow.csv
data/gauge/10222_flow.csv
data/gauge/10323_flow.csv
data/gauge/10324_flow.csv
data/gauge/10421_flow.csv
data/gauge/10422_flow.csv
data/gauge/10423_flow.csv
data/gauge/10424_flow.csv
data/gauge/10458_flow.csv
data/gauge/10708_flow.csv
data/gauge/10709_flow.csv
data/gauge/10735_flow.csv
data/gauge/10737_flow.csv
data/gauge/10740_flow.csv
data/gauge/10807_flow.csv
data/gauge/10808_flow.csv
data/gauge/10880_flow.csv
data/gauge/10881_flow.csv
data/gauge/10882_flow.csv
data/gauge/145_flow.csv
data/gauge/148_flow.csv
data/gauge/149_flow.csv
data/gauge/150_flow.csv
data/gauge/152_flow.csv
data/gauge/153_flow.csv
data/gauge/154_flow.csv
data/gauge/161_flow.csv
data/gauge/180_flow.csv
data/gauge/214_flow.csv
data/gauge/215_flow.csv
data/gauge/217_flow.csv
data/gauge/2181_flow.csv
data/gauge/2182_flow.csv
data/gauge/2185_flow.csv
data/gauge/2186_flow.csv
data/gauge/2188_flow.csv
data/gauge/218_flow.csv
data/gauge/2191_flow.csv
data/gauge/2192_flow.csv
data/gauge/2193_flow.csv
data/gauge/2194_flow.csv
data/gauge/2195_flow.csv
data/gauge/2199_flow.csv
data/gauge/219_flow.csv
data/gauge/2203_flow.csv
data/gauge/2204_flow.csv
data/gauge/220_flow.csv
data/gauge/221_flow.csv
data/gauge/222_flow.csv
data/gauge/223_flow.csv
data/gauge/224_flow.csv
data/gauge/225_flow.csv
data/gauge/227_flow.csv
data/gauge/229_flow.csv
data/gauge/230_flow.csv
data/gauge/231_flow.csv
data/gauge/232_flow.csv
data/gauge/233_flow.csv
data/gauge/235_flow.csv
data/gauge/236_flow.csv
data/gauge/237_flow.csv
data/gauge/238_flow.csv
data/gauge/239_flow.csv
data/gauge/240_flow.csv
data/gauge/241_flow.csv
data/gauge/242_flow.csv
data/gauge/243_flow.csv
data/gauge/244_flow.csv
data/gauge/248_flow.csv
data/gauge/249_flow.csv
data/gauge/250_flow.csv
data/gauge/253_flow.csv
data/gauge/254_flow.csv
data/gauge/255_flow.csv
data/gauge/258_flow.csv
data/gauge/261_flow.csv
data/gauge/262_flow.csv
data/gauge/264_flow.csv
data/gauge/265_flow.csv
data/gauge/266_flow.csv
data/gauge/267_flow.csv
data/gauge/268_flow.csv
data/gauge/269_flow.csv
data/gauge/270_flow.csv
data/gauge/272_flow.csv
data/gauge/274_flow.csv
data/gauge/275_flow.csv
data/gauge/276_flow.csv
data/gauge/277_flow.csv
data/gauge/278_flow.csv
data/gauge/279_flow.csv
data/gauge/280_flow.csv
data/gauge/281_flow.csv
data/gauge/282_flow.csv
data/gauge/283_flow.csv
data/gauge/284_flow.csv
data/gauge/285_flow.csv
data/gauge/287_flow.csv
data/gauge/289_flow.csv
data/gauge/290_flow.csv
data/gauge/291_flow.csv
data/gauge/292_flow.csv
data/gauge/293_flow.csv
data/gauge/294_flow.csv
data/gauge/295_flow.csv
data/gauge/296_flow.csv
data/gauge/297_flow.csv
data/gauge/3013_flow.csv
data/gauge/3014_flow.csv
data/gauge/3020_flow.csv
data/gauge/3021_flow.csv
data/gauge/3025_flow.csv
data/gauge/3026_flow.csv
data/gauge/3028_flow.csv
data/gauge/3029_flow.csv
data/gauge/3032_flow.csv
data/gauge/3033_flow.csv
data/gauge/3034_flow.csv
data/gauge/3035_flow.csv
data/gauge/3036_flow.csv
data/gauge/3037_flow.csv
data/gauge/3040_flow.csv
data/gauge/3041_flow.csv
data/gauge/3042_flow.csv
data/gauge/3045_flow.csv
data/gauge/3047_flow.csv
data/gauge/3048_flow.csv
data/gauge/3049_flow.csv
data/gauge/3050_flow.csv
data/gauge/3053_flow.csv
data/gauge/3067_flow.csv
data/gauge/3068_flow.csv
data/gauge/3071_flow.csv
data/gauge/3074_flow.csv
data/gauge/3075_flow.csv
data/gauge/3076_flow.csv
data/gauge/3077_flow.csv
data/gauge/3078_flow.csv
data/gauge/3080_flow.csv
data/gauge/3081_flow.csv
data/gauge/3082_flow.csv
data/gauge/3083_flow.csv
data/gauge/3084_flow.csv
data/gauge/317_flow.csv
data/gauge/318_flow.csv
data/gauge/319_flow.csv
data/gauge/320_flow.csv
data/gauge/321_flow.csv
data/gauge/322_flow.csv
data/gauge/323_flow.csv
data/gauge/324_flow.csv
data/gauge/325_flow.csv
data/gauge/326_flow.csv
data/gauge/327_flow.csv
data/gauge/336_flow.csv
data/gauge/337_flow.csv
data/gauge/338_flow.csv
data/gauge/339_flow.csv
data/gauge/340_flow.csv
data/gauge/342_flow.csv
data/gauge/343_flow.csv
data/gauge/344_flow.csv
data/gauge/346_flow.csv
data/gauge/34_flow.csv
data/gauge/353_flow.csv
data/gauge/354_flow.csv
data/gauge/357_flow.csv
data/gauge/361_flow.csv
data/gauge/3634_flow.csv
data/gauge/3635_flow.csv
data/gauge/3636_flow.csv
data/gauge/363_flow.csv
data/gauge/3643_flow.csv
data/gauge/3646_flow.csv
data/gauge/3656_flow.csv
data/gauge/365_flow.csv
data/gauge/3661_flow.csv
data/gauge/3664_flow.csv
data/gauge/3666_flow.csv
data/gauge/3674_flow.csv
data/gauge/3675_flow.csv
data/gauge/3676_flow.csv
data/gauge/3681_flow.csv
data/gauge/3682_flow.csv
data/gauge/3690_flow.csv
data/gauge/3691_flow.csv
data/gauge/3697_flow.csv
data/gauge/3698_flow.csv
data/gauge/3704_flow.csv
data/gauge/3705_flow.csv
data/gauge/376_flow.csv
data/gauge/380_flow.csv
data/gauge/381_flow.csv
data/gauge/382_flow.csv
data/gauge/3847_flow.csv
data/gauge/3850_flow.csv
data/gauge/3852_flow.csv
data/gauge/3854_flow.csv
data/gauge/3855_flow.csv
data/gauge/385_flow.csv
data/gauge/3860_flow.csv
data/gauge/3861_flow.csv
data/gauge/3866_flow.csv
data/gauge/3867_flow.csv
data/gauge/3868_flow.csv
data/gauge/3869_flow.csv
data/gauge/386_flow.csv
data/gauge/3878_flow.csv
data/gauge/387_flow.csv
data/gauge/3883_flow.csv
data/gauge/3886_flow.csv
data/gauge/3887_flow.csv
data/gauge/3888_flow.csv
data/gauge/388_flow.csv
data/gauge/3891_flow.csv
data/gauge/3892_flow.csv
data/gauge/3895_flow.csv
data/gauge/3913_flow.csv
data/gauge/3914_flow.csv
data/gauge/3915_flow.csv
data/gauge/3916_flow.csv
data/gauge/3917_flow.csv
data/gauge/3918_flow.csv
data/gauge/391_flow.csv
data/gauge/3921_flow.csv
data/gauge/3925_flow.csv
data/gauge/3926_flow.csv
data/gauge/3927_flow.csv
data/gauge/3929_flow.csv
data/gauge/392_flow.csv
data/gauge/397_flow.csv
data/gauge/398_flow.csv
data/gauge/401_flow.csv
data/gauge/402_flow.csv
data/gauge/403_flow.csv
data/gauge/407_flow.csv
data/gauge/409_flow.csv
data/gauge/410_flow.csv
data/gauge/412_flow.csv
data/gauge/413_flow.csv
data/gauge/414_flow.csv
data/gauge/415_flow.csv
data/gauge/416_flow.csv
data/gauge/4176_flow.csv
data/gauge/4177_flow.csv
data/gauge/4178_flow.csv
data/gauge/417_flow.csv
data/gauge/4180_flow.csv
data/gauge/4182_flow.csv
data/gauge/4183_flow.csv
data/gauge/4185_flow.csv
data/gauge/418_flow.csv
data/gauge/419_flow.csv
data/gauge/4204_flow.csv
data/gauge/4213_flow.csv
data/gauge/4214_flow.csv
data/gauge/4229_flow.csv
data/gauge/424_flow.csv
data/gauge/425_flow.csv
data/gauge/4263_flow.csv
data/gauge/426_flow.csv
data/gauge/427_flow.csv
data/gauge/430_flow.csv
data/gauge/431_flow.csv
data/gauge/432_flow.csv
data/gauge/433_flow.csv
data/gauge/435_flow.csv
data/gauge/436_flow.csv
data/gauge/437_flow.csv
data/gauge/438_flow.csv
data/gauge/439_flow.csv
data/gauge/440_flow.csv
data/gauge/441_flow.csv
data/gauge/442_flow.csv
data/gauge/443_flow.csv
data/gauge/444_flow.csv
data/gauge/445_flow.csv
data/gauge/447_flow.csv
data/gauge/450_flow.csv
data/gauge/451_flow.csv
data/gauge/454_flow.csv
data/gauge/455_flow.csv
data/gauge/457_flow.csv
data/gauge/466_flow.csv
data/gauge/472_flow.csv
data/gauge/473_flow.csv
data/gauge/474_flow.csv
data/gauge/476_flow.csv
data/gauge/481_flow.csv
data/gauge/484_flow.csv
data/gauge/489_flow.csv
data/gauge/50037_flow.csv
data/gauge/50076_flow.csv
data/gauge/50128_flow.csv
data/gauge/50129_flow.csv
data/gauge/50179_flow.csv
data/gauge/50180_flow.csv
data/gauge/50206_flow.csv
data/gauge/50218_flow.csv
data/gauge/50223_flow.csv
data/gauge/50261_flow.csv
data/gauge/50267_flow.csv
data/gauge/50350_flow.csv
data/gauge/50352_flow.csv
data/gauge/50361_flow.csv
data/gauge/50362_flow.csv
data/gauge/50380_flow.csv
data/gauge/50393_flow.csv
data/gauge/50400_flow.csv
data/gauge/50435_flow.csv
data/gauge/50546_flow.csv
data/gauge/505_flow.csv
data/gauge/50718_flow.csv
data/gauge/50755_flow.csv
data/gauge/50827_flow.csv
data/gauge/50892_flow.csv
data/gauge/50895_flow.csv
data/gauge/50896_flow.csv
data/gauge/50917_flow.csv
data/gauge/50938_flow.csv
data/gauge/50972_flow.csv
data/gauge/50980_flow.csv
data/gauge/50987_flow.csv
data/gauge/512_flow.csv
data/gauge/513_flow.csv
data/gauge/514_flow.csv
data/gauge/515_flow.csv
data/gauge/516_flow.csv
data/gauge/517_flow.csv
data/gauge/518_flow.csv
data/gauge/519_flow.csv
data/gauge/52039_flow.csv
data/gauge/520_flow.csv
data/gauge/52187_flow.csv
data/gauge/521_flow.csv
data/gauge/522_flow.csv
data/gauge/531_flow.csv
data/gauge/534_flow.csv
data/gauge/537_flow.csv
data/gauge/54006_flow.csv
data/gauge/54017_flow.csv
data/gauge/54249_flow.csv
data/gauge/54251_flow.csv
data/gauge/54261_flow.csv
data/gauge/54306_flow.csv
data/gauge/54343_flow.csv
data/gauge/54386_flow.csv
data/gauge/54387_flow.csv
data/gauge/54524_flow.csv
data/gauge/54554_flow.csv
data/gauge/54555_flow.csv
data/gauge/54558_flow.csv
data/gauge/54654_flow.csv
data/gauge/54668_flow.csv
data/gauge/54721_flow.csv
data/gauge/54729_flow.csv
data/gauge/54812_flow.csv
data/gauge/55931_flow.csv
data/gauge/56499_flow.csv
data/gauge/56694_flow.csv
data/gauge/56695_flow.csv
data/gauge/56696_flow.csv
data/gauge/56697_flow.csv
data/gauge/56698_flow.csv
data/gauge/56893_flow.csv
data/gauge/56997_flow.csv
data/gauge/57364_flow.csv
data/gauge/57437_flow.csv
data/gauge/57496_flow.csv
data/gauge/57551_flow.csv
data/gauge/58392_flow.csv
data/gauge/58455_flow.csv
data/gauge/58470_flow.csv
data/gauge/584_flow.csv
data/gauge/585_flow.csv
data/gauge/58622_flow.csv
data/gauge/58696_flow.csv
data/gauge/58783_flow.csv
data/gauge/58784_flow.csv
data/gauge/58901_flow.csv
data/gauge/59357_flow.csv
data/gauge/60119_flow.csv
data/gauge/61189_flow.csv
data/gauge/61190_flow.csv
data/gauge/61191_flow.csv
data/gauge/6158_flow.csv
data/gauge/6159_flow.csv
data/gauge/6163_flow.csv
data/gauge/6172_flow.csv
data/gauge/6174_flow.csv
data/gauge/6175_flow.csv
data/gauge/61853_flow.csv
data/gauge/6196_flow.csv
data/gauge/6200_flow.csv
data/gauge/6202_flow.csv
data/gauge/6206_flow.csv
data/gauge/6207_flow.csv
data/gauge/622_flow.csv
data/gauge/6265_flow.csv
data/gauge/626_flow.csv
data/gauge/632_flow.csv
data/gauge/6359_flow.csv
data/gauge/6395_flow.csv
data/gauge/6396_flow.csv
data/gauge/6397_flow.csv
data/gauge/6398_flow.csv
data/gauge/6400_flow.csv
data/gauge/6402_flow.csv
data/gauge/6403_flow.csv
data/gauge/6404_flow.csv
data/gauge/6405_flow.csv
data/gauge/6406_flow.csv
data/gauge/6407_flow.csv
data/gauge/6408_flow.csv
data/gauge/6409_flow.csv
data/gauge/64123_flow.csv
data/gauge/6421_flow.csv
data/gauge/6422_flow.csv
data/gauge/6424_flow.csv
data/gauge/6430_flow.csv
data/gauge/6431_flow.csv
data/gauge/6432_flow.csv
data/gauge/6433_flow.csv
data/gauge/6459_flow.csv
data/gauge/6479_flow.csv
data/gauge/6480_flow.csv
data/gauge/6484_flow.csv
data/gauge/6505_flow.csv
data/gauge/6506_flow.csv
data/gauge/6507_flow.csv
data/gauge/6508_flow.csv
data/gauge/6513_flow.csv
data/gauge/6521_flow.csv
data/gauge/6531_flow.csv
data/gauge/6532_flow.csv
data/gauge/6536_flow.csv
data/gauge/6538_flow.csv
data/gauge/6552_flow.csv
data/gauge/6612_flow.csv
data/gauge/6623_flow.csv
data/gauge/674_flow.csv
data/gauge/682_flow.csv
data/gauge/7012_flow.csv
data/gauge/7015_flow.csv
data/gauge/7016_flow.csv
data/gauge/7034_flow.csv
data/gauge/7050_flow.csv
data/gauge/7066_flow.csv
data/gauge/7069_flow.csv
data/gauge/7072_flow.csv
data/gauge/7077_flow.csv
data/gauge/7079_flow.csv
data/gauge/7113_flow.csv
data/gauge/7127_flow.csv
data/gauge/7129_flow.csv
data/gauge/7132_flow.csv
data/gauge/7147_flow.csv
data/gauge/714_flow.csv
data/gauge/7150_flow.csv
data/gauge/7151_flow.csv
data/gauge/7179_flow.csv
data/gauge/7189_flow.csv
data/gauge/7190_flow.csv
data/gauge/7224_flow.csv
data/gauge/7229_flow.csv
data/gauge/7233_flow.csv
data/gauge/7259_flow.csv
data/gauge/7317_flow.csv
data/gauge/7338_flow.csv
data/gauge/7372_flow.csv
data/gauge/7373_flow.csv
data/gauge/7427_flow.csv
data/gauge/7431_flow.csv
data/gauge/7458_flow.csv
data/gauge/7489_flow.csv
data/gauge/7507_flow.csv
data/gauge/7508_flow.csv
data/gauge/7511_flow.csv
data/gauge/751_flow.csv
data/gauge/7541_flow.csv
data/gauge/7548_flow.csv
data/gauge/7588_flow.csv
data/gauge/7590_flow.csv
data/gauge/7593_flow.csv
data/gauge/763_flow.csv
data/gauge/7646_flow.csv
data/gauge/7718_flow.csv
data/gauge/776_flow.csv
data/gauge/7789_flow.csv
data/gauge/7867_flow.csv
data/gauge/7907_flow.csv
data/gauge/790_flow.csv
data/gauge/7911_flow.csv
data/gauge/7942_flow.csv
data/gauge/809_flow.csv
data/gauge/810_flow.csv
data/gauge/811_flow.csv
data/gauge/812_flow.csv
data/gauge/813_flow.csv
data/gauge/815_flow.csv
data/gauge/816_flow.csv
data/gauge/818_flow.csv
data/gauge/819_flow.csv
data/gauge/821_flow.csv
data/gauge/822_flow.csv
data/gauge/823_flow.csv
data/gauge/825_flow.csv
data/gauge/827_flow.csv
data/gauge/829_flow.csv
data/gauge/831_flow.csv
data/gauge/832_flow.csv
data/gauge/833_flow.csv
data/gauge/835_flow.csv
data/gauge/839_flow.csv
data/gauge/840_flow.csv
data/gauge/841_flow.csv
data/gauge/843_flow.csv
data/gauge/844_flow.csv
data/gauge/845_flow.csv
data/gauge/846_flow.csv
data/gauge/847_flow.csv
data/gauge/850_flow.csv
data/gauge/851_flow.csv
data/gauge/8902_flow.csv
data/gauge/905_flow.csv
data/gauge/9095_flow.csv
data/gauge/9096_flow.csv
data/gauge/977_flow.csv
data/gauge/9842_flow.csv
data/gauge/987_flow.csv
