.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.zip
data/rectifhyd*
data/usace*
*.parquet
B1_data*
CLAUDE*
figures/*
data/hydrofixr/*
data/HILARRI*
data/flow*
.env*
.vscode/*
data/hydro_gen_*
data/eia_data/*
data/rfp_eia_*
data/HUC4_average_flows_imputed.csv
data/ORNL_EHAHydroPlant_*
data/pnw_daily_data.csv
get_eia.R